<div id="games-coin-flip" class="content">
	<h1>Coin Flip</h1>

	<p>
		Game Address: <strong>r3Ah32y55S2LBrbs5sbp5s8RYC1u69U5Rd</strong><br>
		Minimum: <strong>1.000 XRP</strong><br>
		Maximum: <strong>500.000 XRP</strong>
	</p>

	<p>
		<button class="btn btn-success" onclick="test();">Test Game</button>
	</p>

	<ol>
		<li>Retrieve all "relevent" txs</li>
		<li>Sort txs</li>
		<li>Unmatch multi-plays</li>
		<li>check first 32-bits hi-lo and declare winner (ties push -- coins returned)</li>
		<li>save (to leveldb) / display results</li>
		<li>process payments</li>
		<li></li>
	</ol>

	<p id="games-coin-flip-data">
		<!-- display data placeholder -->
	</p>
</div>

<div id="games-quick-pick" class="content">
	<h1>Quick Pick</h1>

	<p>
		coming soon...
	</p>
</div>

<div id="games-iou" class="content">
	<h1>IOU</h1>

	<p>
		coming soon...
	</p>
</div>

<div id="games-88spins" class="content">
	<h1>88 Spins</h1>

	<p>
		coming soon...
	</p>
</div>
