<div id="help-start" class="content">
	<h1>Getting Started</h1>

	<p>
		coming soon...
	</p>

	<p>
		<h4>Ripple Exchange Data</h4>

		~100,000 XRP to 1 BTC<br>
		~1,100 XRP to 1 USD<br>
		~91,000,000 USD Market Capitalization
	<p>

	<p>
		<h4>Ripple Facts</h4>

		20% owned by Ripple's founders<br>
		80% being distributed by OpenCoin and Co.<br>
		??% publicaly owned /outstanding
	<p>

	<p>
		<h4>Ripple Resources</h4>

		<a href="http://www.ripplecharts.com/" target="_blank">http://www.ripplecharts.com/</a><br>
		<a href="http://www.rippledb.com/" target="_blank">http://www.rippledb.com/</a>
	</p>

	<p>
		<h4>Ripple Merchants / Traders</h4>

		<a href="https://bitcointalk.org/index.php?topic=148114" target="_blank">https://bitcointalk.org/index.php?topic=148114</a>
	</p>

	<div id="ripple_calc">
		<h3>Ripple Calculator</h3>

		I Own <input type="text" id="ripple_owned" onkeyup="calcRippleVal();" style="width:150px;"><br>
		Valued @ <span id="ripple_val_btc">0 BTC</span><br>
		Valued @ <span id="ripple_val_usd">0 USD</span><br>
	</div>
</div>

<div id="help-gaming" class="content">
	<h1>Ripple Gaming</h1>

	<p>
		High volume, instantly verified, real-money platform.
	</p>
</div>

<div id="help-fairplay" class="content">
	<h1>Fairplay</h1>

	<p>
		<a href="https://www.btcvillage.nl/fairplay" target="_blank">see here</a>
	</p>
</div>

<div id="help-build" class="content">
	<h2>Build Your Own Game</h2>

	<p>
		Build your very own Ripple games today.
		Fork the code on <a href="https://github.com/houseofsdot/ripple360" target="_blank">GitHub</a>.
	</p>
</div>

<div id="help-status" class="content">
	<h1>Game Engine Status</h1>

	<p>
		Everything looks good :)
	</p>

	<p id="help-ledger-history">
		<!-- ledger history placeholder -->
	</p>
</div>
