<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="javascript://" onclick="load('welcome', '');">NASD</a>

		<ul class="nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Games <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="javascript://" onclick="load('games', 'platinum');">Platinum</a></li>
					<li><a href="javascript://" onclick="load('games', 'gold');">Gold</a></li>
					<li><a href="javascript://" onclick="load('games', 'silver');">Silver</a></li>
					<li><a href="javascript://" onclick="load('games', 'bronze');">Bronze</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">My ViLLE <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="javascript://" onclick="load('my-venue', 'profile');">Profile</a></li>
					<li><a href="javascript://" onclick="load('my-venue', 'history');">History</a></li>
				</ul>
			</li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="javascript://" onclick="load('help', 'start');">Getting Started</a></li>
					<li><a href="javascript://" onclick="load('help', 'gaming');">Blockchain Gaming</a></li>
					<li><a href="javascript://" onclick="load('help', 'fairplay');">Fairplay</a></li>
					<li><a href="javascript://" onclick="load('help', 'build');">Build Your Own</a></li>
					<li><a href="javascript://" onclick="load('help', 'status');">Venue Status</a></li>
				</ul>
			</li>

			
		</ul>

		<a class="navbar-text pull-right" href="javascript://" onclick="load('help', 'game-status');">
			<span id="nav-status">online</span>
		</a>

		<a class="navbar-text pull-right" href="javascript://" onclick="load('venue', 'profile');">
			<span id="nav-profile">Guest</span>
		</a>
	</div>
</div>
