<div id="welcome-" class="featured-content">
	<img id="main-logo" src="/images/games.png" width="128" height="128" align="right">
	<h1><b>R</b>ipple<b>360</b></h1>

	<p class="lead">
		Welcome to your <strong>FIRST</strong> and <strong>LAST</strong> stop in Ripple XRP Gaming.
	</p>

	<p class="lead">
		Come join the fun ~_^
	</p>

	<div id="intro-buttons">
		<button class="btn btn-primary btn-large" onclick="load('games', 'coin-flip');">Coin Flip</button>
		&nbsp;&nbsp;
		<button class="btn btn-primary btn-large" onclick="load('games', 'quick-pick');">Quick Pick</button>
		&nbsp;&nbsp;
		<button class="btn btn-primary btn-large" onclick="load('games', 'iou');">IOU</button>
		&nbsp;&nbsp;
		<button class="btn btn-primary btn-large" onclick="load('games', '88spins');">88 Spins</button>
		&nbsp;&nbsp;
		<button class="btn btn-inverse btn-large" onclick="load('help', 'start', 'setupRippleCalc()');">Help <i class="icon-question-sign icon-white"></i></button>
	</div>
</div>